[package]
name = "idm"
version = "0.2.0"
license = "MIT/Apache-2.0"
authors = ["Risto Saarelma <risto.saarelma@iki.fi>"]
edition = "2018"
description = "Implicit Data Markup"
categories = ["encoding"]

[dependencies]
paste = "1"
serde = { version = "1", features = ["derive"] }
serde_bytes = "0.11"

[dev-dependencies]
pretty_assertions = "1"
