[package]
name = "idm"
version = "0.1.0"
license = "MIT/Apache-2.0"
authors = ["Risto Saarelma <risto.saarelma@iki.fi>"]
edition = "2018"
description = "Implicit Data Markup"
categories = ["encoding"]

[dependencies]
log = "0.4"
paste = "1"
serde = { version = "1", features = ["derive"] }
serde_bytes = "0.11"

[dev-dependencies]
env_logger = "0.9"
pretty_assertions = "0.7"
test-env-log = "0.2"
